.small-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 50px;
    justify-content: flex-start;
    text-align: center;
}

.small-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.small-container h4 {
    margin-bottom: 15px;
    padding: 0 5px;
}


.small-container > div {
    display: flex;
 
 
}

