h1 {
   
    width: 100%;
    color: white;
    background-color: rgb(53, 233, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    font-size: 50px;
}

.primeiro-p {
    
    color: rgb(160, 78, 228);
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
}

#segundo-p {
    
    color: rgb(255, 255, 255);
    background-color:rgb(160, 78, 228);
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 10px;
    font-variant: normal;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.displayed {
    margin: auto;
    display: block;
}

#redes-sociais {
    margin: auto;
    display: block;
    text-align: center;
}


#quarto-p {
    width: 100%;
    color: white;
    background-color: rgb(53, 233, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    border-radius: 100px;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
}

table {
    margin: auto;
    
}

.formulario {
    margin: auto;
    text-align: center;
}

ol {
    margin: auto;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}


.titulo {
    background-color:  rgb(160, 78, 228);
}

.segunda-linha {
    background-color:  rgb(195, 144, 236);
   

}

.quarta-linha {
    background-color: rgb(195, 144, 236);
 

}

.nome-da-loja {
    width: 100%;
    color: white;
    background-color: rgb(53, 233, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    border-radius: 100px;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
}

h2 {
    width: 100%;
    color: white;
    background-color: rgb(53, 233, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
}


.menus1 {

   
    background-color: rgb(238, 128, 183);
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus1 > a {
    text-decoration: none;
    color: white;
}

.menus2 {

    background-color: rgb(238, 128, 183);
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus2 > a {
    text-decoration: none;
    color: white;
}

.menus3 {
    background-color: rgb(238, 128, 183);
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus3 > a {
    text-decoration: none;
    color: white;
}



.linha2 {

    background-color: rgb(238, 128, 183);
}

.pintar {
    background-color: rgb(238, 128, 183);
}

.pintar2 {
    background-color: rgb(238, 128, 183);
}

.menus4 {
    background-color: rgb(238, 128, 183);
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus4 > a {
    text-decoration: none;
    color: white;
}

